* {
    box-sizing: border-box;
    text-align: center;
}

#main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
   
}

#inner-container, #num-pad, #numbers, #ctrl-functions, #seven-to-nine, #four-to-six, #one-to-three, #zero-container, #undo-clear, #equals-sign {
    display: flex;
}

#inner-container {
    height: 500px;
    width: 750px;
    flex-direction: column;
    background-color: tomato;
    border-top:2px solid tomato;
    border-radius: 5px;
}

#calc-screen {
    display: flex;
    flex: 2;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border:12px solid tomato;
    font-size: 40px;
}

#num-pad {
    flex: 4;
    padding: 10px;
}

#numbers {
    flex-direction: column;
    flex: 3;
    gap: 10px;
}

#numbers div div:hover{
    background-color: aliceblue;
}

#seven-to-nine, #four-to-six, #one-to-three, #zero-container, #undo-clear, #equals-sign{
    flex: 1;
}

#zero-container {
    gap: 10px;
}

#zero-container div {
    border: 1px solid aliceblue;
    background-color: #F6AC13;
}

#ctrl-functions {
    margin: 10px;
    flex: 2;
    flex-direction: column;
    background-color: #F6AC13;
    padding: 10px;
    border-radius: 10px;
}

#undo-clear {
    margin: 10px;
    gap: 10px
}

#undo {
    background-color: aliceblue;
}

#clear {
    background-color: red;
}

#equals {
    background-color: rgb(82, 104, 50);
}

#seven, #eight, #nine, #divide, #four,
#five, #six, #multiply, #one, #two, #three, #subtract, #zero, #point, #percent, #add, #undo, #clear,  #equals {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
